// application
.ember-application {
  > .ember-view {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    min-height: 100vh;
  }
}
body {
  width: 100%;
  overflow-x: hidden;
}

// utility
.hidden {
  display: none;
}
.spacious {
  padding-top: 15px;
  padding-bottom: 15px;
}
.very-spacious {
  padding-top: 25px;
  padding-bottom: 25px;
}
.float-right {
  float: right;
}
.pointer {
  cursor: pointer;
}

.colon::after {
  content: ": ";
}
.bold {
  font-weight: bold;
}

// extensions
.tabs {
  .active {
    border-bottom: 1px solid color("red", "darken-1");
  }
}

.custom-nav {
  background-color: #fff;
  .brand-logo {
    color: color("blue-grey", "darken-2");
  }
  ul {
    a {
      text-transform: capitalize;
      cursor: pointer;
      color: color("grey", "darken-2");
    }
    li.active,
    li:hover {
      background-color: fade-out(#fff, 1);
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.item-media-slice {
  padding-top: 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid color("grey", "lighten-2");
  &:last-child {
    border-bottom: none;
  }
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(flex-start);
  .media-image {
    img {
      width: 125px;
    }
  }
  .media-content {
    padding-left: 15px;
  }
  .title {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: color("blue-grey", "darken-3");
  }
  p {
    color: color("grey", "darken-2"); 
  }
}