#dashboard {
  .header-overlay {
    background-image: url("/images/warehouse.jpg");
    height: 155px;
  }
  .dashboard-avatar {
    margin-top: 65px;
    max-width: 100%;
    img {
      max-width: 100%;  
    }
    .card-title {
      @include text-shadow(rgba(#000, 0.75) 1px 1px 0);
    }
  }
  .dashboard-contents {
    margin-top: 65px;
  }
  .actions {
    margin-top: 25px;
  }
}