#warehouse {
  background: #eceff1;
  height: 100vh;
}
#external-application {
  width: 100%;
  height: 92vh;
  overflow: hidden;
  background-color: #fff;
  border: none;
}

.frame-actions {
  margin-bottom: -25px;
  float: right;
}