<div id="dashboard">
  <div class="header-overlay">
    <div class="container">
      <div class="row">
        <div class="col s4 m3 l2 offset-s8 offset-m9 offset-l10">
          <div class="dashboard-avatar z-depth-2 card">
            {{#link-to "dashboard.accounts" class="card-image"}}
              <img src="images/waifu.jpg">
              <span class="card-title">{{currentUser.username}}</span>
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-contents container">
    <div class="row">
      <div class="col s12 m10 l9">
        <ul class="tabs z-depth-1">
          {{#link-to "dashboard.accounts" tagName="li" class="tab col s4"}}
            {{#link-to "dashboard.accounts" class="pointer"}}Warehouses{{/link-to}}
          {{/link-to}}
          {{#link-to "dashboard.payment" tagName="li" class="tab col s4"}}
            {{#link-to "dashboard.payment" class="pointer"}}Payment{{/link-to}}
          {{/link-to}}
          {{#link-to "dashboard.preferences" tagName="li" class="tab col s4"}}
            {{#link-to "dashboard.preferences" class="pointer"}}Preferences{{/link-to}}
          {{/link-to}}
        </ul>
      </div>
    </div>
    <div class="row">
      {{outlet}}
    </div>
  </div>
</div>
